{% extends 'data_app/wrapper.html' %}
{% load static %}


{% block head %}
{% endblock %}


{% block container %}
<div class="container">

    <div class="row p-3">
        <div class="col-md-6 col-xs-6">
            <h4 class="text-light">Beach History</h4>
        </div>
        <!-- <div class="col-md-6 col-xs-6 text-right">
            <button class="btn btn-secondary">Edit Survey Instance</button>
        </div> -->
    </div>

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card p-5">

                <div id="beach_form" class="pb-3" hidden>
                    <form class="row">
                        <div class="col-md-12 col-xs-12">
                            <h5>New Beach Form</h5>
                        </div>
                        <div class="col-md col-xs-6 form-group">
                            <label>Name:</label>
                            <input type="text" id="beach_name" class="form-control ml-1 mr-1">
                        </div>
                        <div class="col-md col-xs-6 form-group">
                            <button class="btn btn-success ml-1 mr-1 mt-4" onclick="add_beach()">Submit</button>
                            <button class="btn btn-secondary ml-1 mr-1 mt-4" onclick="hide_beach_form()">Cancel</button>
                        </div>
                    </form>
                </div>

                <div id="edit_form" class="pb-3" hidden>
                    <form class="row">
                        <div class="col-md-12 col-xs-12">
                            <h5>Edit Beach Form</h5>
                        </div>
                        <div class="col-md col-xs-6 form-group">
                            <label>ID:</label>
                            <input type="text" id="edit_id" class="form-control ml-1 mr-1" disabled>
                        </div>
                        <div class="col-md col-xs-6 form-group">
                            <label>Name:</label>
                            <input type="text" id="edit_name" class="form-control ml-1 mr-1">
                        </div>
                        <div class="col-md col-xs-6 form-group">
                            <button class="btn btn-success ml-1 mr-1 mt-4" onclick="edit_beach()">Submit</button>
                            <button class="btn btn-secondary ml-1 mr-1 mt-4" onclick="hide_edit_form()">Cancel</button>
                        </div>
                    </form>
                </div>

                <!-- <div class="row pt-5">
                    <div class="col">
                        <button class="btn btn-success" onclick="show_beach_form()">Add New <i class="fa fa-plus fa-6" aria-hidden="true"></i></button>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col">
                        <table id="beach_table">
            
                        </table>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    
    

</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'javascript/data_app/beaches.js' %}"></script>
{% endblock %}