{% extends 'data_app/wrapper.html' %}
{% load static %}

{% block head %}
{% endblock %}


{% block container %}
<div class="container">

    <div class="row p-3">
        <div class="col-md-6 col-xs-6">
            <h4 class="text-light">Station History for {{ beach.name }}</h4>
            <h5 class="text-light">Start Date: {{survey.start_date}}</h5>
            <h5 class="text-light">Section: {{ profile.section }}</h5>
            <input type="hidden" id="beach_id" value="{{ beach.id }}">
            <input type="hidden" id="beach_name" value="{{ beach.name }}">
            <input type="hidden" id="survey_id" value="{{ survey.id }}">
            <input type="hidden" id="survey_date" value="{{ survey.date }}">
            <input type="hidden" id="survey_mhhw" value="{{ survey.mhhw }}">
            <input type="hidden" id="survey_mllw" value="{{ survey.mllw }}">
            <input type="hidden" id="profile_id" value="{{ profile.id }}">
            <input type="hidden" id="profile_section" value="{{ profile.section }}">
        </div>
        <!-- <div class="col-md-6 col-xs-6 text-right">
            <button class="btn btn-secondary">Edit Survey Instance</button>
        </div> -->
    </div>

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/surveys/{{ beach.id }}">{{ beach.name }}</a></li>
                    <li class="breadcrumb-item active"><a href="/surveys/{{ beach.id }}/profiles/{{ survey.id }}">{{ survey.start_date }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Section: {{ profile.section }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div id="line_chart" class="row">
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div id="line_chart_div">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            
            <div class="card p-5">

                <div id="station_form" class="border-success" hidden>
                    <h5>New Station Form</h5>
                    <form class="row">
                        <div class="col-md col-xs-6">
                            <div class="form-group">
                                <label>Number:</label>
                                <input type="text" id="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group">
                                <label>Distance:</label>
                                <input type="text" id="distance" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group w-100">
                                <label>Elevation:</label>
                                <input type="text" id="z" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group w-100">
                                <label>Comment</label>
                                <input type="text" id="comment" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group">
                                <button class="btn btn-success ml-1 mr-1 mt-4" onclick="add_station()">Submit</button>
                                <button class="btn btn-secondary ml-1 mr-1 mt-4" onclick="hide_station_form()">Cancel</button>
                            </div>
                        </div>
                    </form>
                    
                </div>

                <div id="edit_form" class="" hidden>
                    <h5>Edit Station Form</h5>
                    <form class="row">
                        <div class="col-md col-xs-6">
                            <div class="form-group w-100">
                                <label>ID:</label>
                                <input type="text" id="edit_id" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group w-100">
                                <label>Number:</label>
                                <input type="text" id="edit_number" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group w-100">
                                <label>Distance:</label>
                                <input type="text" id="edit_distance" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group w-100">
                                <label>Elevation:</label>
                                <input type="text" id="edit_z" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group w-100">                        
                                <label>Comment</label>
                                <input type="text" id="edit_comment" class="form-control">
                            </div>
                        </div>
                        <div class="col-md col-xs-6">
                            <div class="form-group text-center w-100">
                                <button class="btn btn-success m-1" onclick="edit_station()">Submit</button>
                                <button class="btn btn-secondary m-1" onclick="hide_edit_form()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <!-- <div class="row pt-5">
                    <div class="col">
                        <button class="btn btn-success" onclick="show_station_form()">Add New <i class="fa fa-plus fa-6" aria-hidden="true"></i></button>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col">
                        <table id="station_table">
                
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    

</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'javascript/data_app/line_chart.js' %}"></script>
<script src="{% static 'javascript/data_app/stations.js' %}"></script>
{% endblock %}