option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: profile_tool.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: profile_tool.settings

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && django-admin.py collectstatic"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && django-admin.py migrate"
    leader_only: true
  
